{% extends "base.html" %}

{% block content %}

<body>
    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">The Body Achieves what the Mind Believes</h1>
                <p>Life has its ups and downs.  We call them Squats!!!!</p>
            </div>
        </div>

        <div class="container">
            <!-- middle section  -->
            <div class="row">
                <div class="col-md-12">
                    <form action="/login" method="post">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="far fa-user fa-3x"></i></span>
                            <input id="username" type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-envelope-square fa-3x"></i></span>
                            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fas fa-unlock fa-3x"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <p><input type="submit" value="Login" /></p>
                        <p>Don't have an account?</p> <a href="/signup">Create One!</a>
                    </form>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li style="color:rgb(211, 3, 3);">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </main>
    <hr>
    {% endblock %}
</body>

</html>